
.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

p{
    font-size: var(--TextoPadrao);
}

h1{
    color: var(--corFonte);
    text-align: center;
    font-size: clamp(2rem, 3rem + 2vw,5rem);
    margin-top: 3rem;
 }
    .carrossel{
        overflow: hidden;
        width: 100%;
        max-height: 80vh;
    }

    .container{
        display: flex;
        transition: 0.7s ease-in-out;
        transform: translateX(0);
    }

    .carrossel > .container > img{
        object-fit: cover;
        min-width: 100%;
    }

    #img2{
        margin-top: clamp(-20%, -15% - 15rem ,0%);
    }
    #img3{
        margin-top: -15%;
    }

  

    #img4{
        
        margin-top: clamp(-10%, -15% - 15rem ,0%);
    }

    /*fim do carrossel*/

    #desc-group{
        display: flex;
        justify-content: space-around;
        gap: 1%;
    }   
   
    #descricao, #icones{
        margin-top: 15px;
        width: 40%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    #descricao{
        text-align: justify;
        width: 30%;
    }

    

    #descricao p{
        font-size: 1.8rem;
    }

    #icones{
        background-color: var(--BackgroundColorBox);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*não precisa de altura definida pois ele se adapta automáticamente*/
        padding-top: 50px;
    }

    .icons{
        width: 85px;
        height: 164px;
        margin: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .icons > img{
        width: 64px;
        height: 64px;
    } 
   
    #icones div:last-child{
        display: none;
    }


    @media(min-width: 1200px){
        #desc-group{
            justify-content: space-evenly;
        }

        #descricao, #icones{
            width: 45%;
            height: 60rem;
        }
        .icons img{
            width: fit-content;
            height: fit-content;
        }
        .icons :first-child{
            width: inherit;
            height: inherit;
        }
        .icons{
            width: clamp(14rem, 1rem + 1vw,18rem);
            height: clamp(14rem, 1rem + 1vw,18rem);
        }

        #icones div:last-child{
            display: flex;
        }
    }

    .icons label {
        font-size: 2.2rem;
        font-weight: bolder;   
        margin-top: 3%;
        text-align: justify;
    }

    label[for='ar_condicionado']{
        text-align: center;
        width: 200%;
    }
    label[for='ac']{
        font-size: 1.7rem;
        text-align: center;
        width: 280%;
        font-weight: bold;
        margin-top: -2%;  
    }



    @media (max-width: 800px){ 
        #desc-group{
            flex-flow: column-reverse;
            align-items: center;
            justify-items: center;
        }
        #descricao{
            width: 90%;
            box-sizing: content-box;
        }

        #icones{
            width: 90%;
            gap: 10%;
            height: 100%;
            align-content: space-between;
            justify-content: center;
        }
        
    @media (max-width: 600px){ /*com pouco menos de 800px ainda ta bugando*/

        #icones div:last-child{
            display: flex;
        }   
    }

    @media (max-width: 400px){
        #icones div:last-child{
            display: none;
        }

        #icones{
            width: 90%;
            gap: 10%;
            height: 100%;
            align-content: space-between;
            justify-content: space-around;
        }
    }
}

