@charset "UTF-8";

main{
    padding: 0 5%;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    margin-bottom: 2%;
    margin-top: 2%;;
}

h2{
    font-size: clamp(2.5rem, 2rem + 2vw, 3.8rem);
    
}
#contact_icons{
    display: flex;
    max-width: 150px;
    justify-content: flex-start;
    gap: 15%;
    margin: 2vh 0;
}

#contact_icons img{
    max-width: 400px;
    max-height: 400px;
}

main button{
    display: block;
    cursor: pointer;
    margin-top: 3rem;
    width: clamp(20rem, 15rem + 20vw ,50rem);
    height: clamp(3rem, 2.5rem + 2.5vw ,5rem);
    border-radius: 25px;
    color: var(--ReverseColor);
    border-color: var(--ReverseColor);
    background-color: var(--corFundo);
    border-width: 5px;  
    border-style: solid;
}

main button:hover{
    transition: 0.2s;
    background-color: var(--ReverseColor);
    color: white;
}

@media(max-width: 1024px){
    main button{
        margin-left: auto;
        margin-right: auto;
    }
}