@charset "UTF-8";

h1{
    margin-bottom: 3%;
    margin-top: 2%;
    text-align: center;
}

.desc{
    margin: auto;
    width: 70%;
    margin-bottom: 5%;
    margin-top: 1.5%;
    text-align: justify;
    
}

h1{
    font-size: clamp(2rem, 1.5rem + 2vw, 4rem);
}

h2{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1%;
    width: 100%;
}

.carrossel{
    margin: auto;
    overflow: hidden;
    width: 70%;
    max-height: 70vh;
    border-radius: 15px;
}

.radio-group{
    position: absolute;
    z-index: 100; 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: clamp(1.5rem, 2rem + 2vw,5rem);
    z-index: 9;
}

input[type='radio']{
    display: none;
}

.custom-radio{
    content: '';
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    
}
.custom-radio::after{
    content: '';
    width: 0%;
    height: 0%;
}

input[type='radio']:checked + .custom-radio::after{
    content: '';
    background-color:white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s width, 0.3s height;
}

.container{
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.carrossel > .container > img{
    object-fit: cover;
    min-width: 100%;
}

@media(max-width: 600px){
    .carrossel{
        width: 100%;
        border-radius: 0px;
    }

    .radio-group{
        width: 100%;

    }

    .desc{
        margin-top: 6%;
        margin-bottom: 9%;
        width: 90%;

        
    }

    h1{
        margin-top: 4%;
    }
}