@charset "UTF-8";
h1{
    margin-bottom: 5%;
}
.carrossel{
    overflow: hidden;
    width: 60%;
    max-height: 60vh;
    margin: auto;
    border-radius: 15px;
}

.radio-group{
    position: absolute;
    z-index: 100; 
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5rem;
}

input[type='radio']{
    display: none;
}

.custom-radio{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
    margin-bottom: 5%;
}
.custom-radio::after{
    content: '';
    width: 0%;
    height: 0%;
}

input[type='radio']:checked + .custom-radio::after{
    content: '';
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    transition: 0.3s width, 0.3s height;
}

.container{
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.carrossel > .container > img{
    object-fit: cover;
    min-width: 100%;
}