@charset "UTF-8";

h1{
    margin-bottom: 5%;
}
.carrossel{
    margin: auto;
    margin-bottom: 5%;
    overflow: hidden;
    width: 70%;
    max-height: 70vh;
    border-radius: 15px;
}

.radio-group{
    position: absolute;
    z-index: 100; 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: clamp(3rem, 2rem + 2vw,5rem);
    z-index: 9;
}

input[type='radio']{
    display: none;
}

.custom-radio{
    content: '';
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    
}
.custom-radio::after{
    content: '';
    width: 0%;
    height: 0%;
}

input[type='radio']:checked + .custom-radio::after{
    content: '';
    background-color:white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s width, 0.3s height;
}

.container{
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.carrossel > .container > img{
    object-fit: cover;
    min-width: 100%;
}