@charset "UTF-8";

main{
    padding-left: 1.5%;
    padding-right: 1.5%;
}

h1{
    font-size: clamp(2rem, 2rem + 2vw, 4rem);
    margin-bottom: 2%;
    color: var(--AutoColor);
}

h2{
    font-size: clamp(2.5rem, 1rem + 2vw,3.5rem);
    margin-bottom: 2.5%;
    color: var(--ReverseColor);
}

p{
    font-size: clamp(1rem, 1rem + 1vw, 3rem);

}

strong{
    font-size: inherit;
    color: var(--AutoColor);
}

#qsm{
    margin: auto;
    width: 70%;
}

#about{
    display: flex;
    justify-content: space-between;;
    gap: 2%;
    margin-top: 2%;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
}

#imagem{
    width: 70%;
    max-height: 50%;
    margin-bottom: 10px;
    border-radius: 15px;
}

#about_text{
    text-align: justify;
    width: 70%;
}

#about_text p{
    margin-bottom: 2%;
}

ul{
    color: var(--corFonte);
    padding-left: 0%;
    list-style-type: none;
}

li{
    margin-bottom: 2%;
    font-size: clamp(1rem, 1rem + 1vw, 3rem);
}

@media (max-width:600px){
    

    #qsm{
        margin: auto;
        width: 90%;
    }
   #about{
    flex-flow: column;
    align-items: center;
   }
   #imagem{
    width: 90%;
    margin-bottom: 10px;
   }
   #about_text{
    width: 90%;
   }
}