/*deixar dessa forma e tentar de algum jeito fazer com que não seja exibido para o usuário a parte vazia da direita do site*/
:root{
    --corItens: #6e6e6e;
    /*tomar cuidado com as variáveis de cores por conta dos modos claro e escuro. Pense em usar média Query para isso se for possível*/
}

p{
    color: var(--corFonte);
}

label{
    color: var(--CorFonteSecundaria)
}

main{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

/*position relative pode ajudar a deixar o texto acima da imagem*/

.container{
    position: relative;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: block;
}
 h1{
    color: var(--corFonte);
    text-align: center;
 }
    .slider{
        margin: 0 auto;
        width: 100%;
        height: 80vh;
        min-height: 400px;
        overflow: hidden;
        position: absolute;
    }

    .display{
        margin: 0 auto;
        width: 100%;
        height: 80vh;
        min-height: 400px;
        margin-bottom: 15px;
    }

    .slides{
        width: 400%;
        height: 400px;
        display: flex;
        
    }

    .slides input{
        display: none;
    }

    .slide{ /*é cada item*/
        width: 25%;
        position: relative;
        transition: 2s;/*é esse aqui*/
        padding: 0px;
        
        
    }

    .slide img{
        width: 100%;
        object-fit: cover;
        }
    
    #img2 {
        margin-top: -3%;
    }

    #img3{
        margin-top: -2%;
    }

    #img4{
        margin-top: -2%;
            } 
    /*800px*/

    .manual-navigation{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn{ 
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        display: none;
    }

    .manual-btn:not(:last-child){ /*not last child aplica a todos menos o último elemento*/
        margin-right: 40px;

    }

    .manual-btn:hover{
        background-color: white;
        transition: 0.75s;

    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -25%;
    }

    #radio3:checked ~ .first{
        margin-left: -50%;
    }

    #radio4:checked ~ .first{
        margin-left: -75%;
    }

    .navigation-auto div{
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.75s;
        display: none;
    }

    .navigation-auto{
        position: absolute;
        width: 800px;
        margin-top: 360px;
        display: flex;
        justify-content: center;
        display: none;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: white;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: white;
    } #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: white;
    } #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: white;
    }

    /*fim do carrossel
    agora começa o o que fazemos*/

    #desc-group{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #descricao, #icones{
        margin-top: 15px;
        width: 400px;
        height: 400px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    #icones{
        background-color: var(--corItens);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .icons{
        width: 74px;
        height: 164px;
        background-color: red;
        margin: 3px;
        
    }

    .icons > img{
        width: 64px;
        height: 64px;
    }
    .icons > label {
        font-size: 12px;
        flex-shrink: 1;
    }
    #descricao{
        text-align: justify;
    }
   