/*deixar dessa forma e tentar de algum jeito fazer com que não seja exibido para o usuário a parte vazia da direita do site*/
:root{
    --corItens: #6e6e6e;
    /*tomar cuidado com as variáveis de cores por conta dos modos claro e escuro. Pense em usar média Query para isso se for possível*/
}


p{
    color: var(--corFonte);
}

label{
    color: var(--CorFonteSecundaria)
}

main{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

/*position relative pode ajudar a deixar o texto acima da imagem*/

.container{
    position: relative;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: block;
}
 h1{
    color: var(--corFonte);
    text-align: center;
 }
    .slider{ /*não interfere pois está com position abslute*/
        margin: 0 auto;
        width: 100%;
        max-height: 80%;
        overflow: hidden;
        position: absolute;
    }

    #display{  /*ta aqui o problema*/
        margin: 0 auto;
        width: 100%;
        margin-bottom: 15px;
    }
    

    .slides{
        width: 400%;
        height: inherit;
        display: flex;
        
    }


    .slide{ /*é cada item*/
        width: 25%;
        position: relative;
        transition: 2s;
        padding: 0px;
        height: inherit;
    }

    .slide img{
        width: 100%;
        object-fit: cover;
        }
    
    #img2 {
        margin-top: -3%;
        
    }

    #img3{
        margin-top: -2%;
    }

    #img4{
        margin-top: -2%;
            } 

    /*fim do carrossel
    agora começa o o que fazemos*/

    #desc-group{
        display: flex;
        justify-content: space-around;
    }   
   
    #descricao, #icones{
        margin-top: 15px;
        width: 400px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    #descricao{
        text-align: justify;
        max-height: 400px;
    }

    #icones{
        background-color: var(--corItens);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 400px;

    }

    .icons{
        width: 85px;
        height: 164px;
        margin: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .icons > img{
        width: 64px;
        height: 64px;
    }
    .icons > label {
        font-size: 12px;
    }
    
   
    #icones div:last-child{
        display: none;
    }

    @media (max-width: 800px){ 
        #desc-group{
            flex-flow: column-reverse;
            align-items: center;
            justify-items: center;
        }
        #descricao{
            width: 90%;
            box-sizing: content-box;
        }
        .slider{
            height: 60%;
        }

        #icones{
            width: 90%;
            gap: 10%;
            height: 100%;
            align-content: space-between;
            justify-content: center;
        }
        
    @media (max-width: 600px){ /*com pouco menos de 800px ainda ta bugando*/

        #icones div:last-child{
            display: flex;
        }

        .slider{
            height: 50%;
        }

       
       
    }

    @media (max-width: 400px){
        #icones div:last-child{
            display: none;
        }

        #icones{
            width: 90%;
            gap: 10%;
            height: 100%;
            align-content: space-between;
            justify-content: space-around;
        }
    }
}