@charset "UTF-8";

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

p{
    font-size: 0.6em;
}

#imagem{
    width: 50%;
    height: 80vh;
}

#about{
    display: flex;
    justify-content: space-between;
}